@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

$solution-size: 6vw;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px; /* 1rem = 10px */
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  color: white;
}

body {
  min-height: 100svh;
  background: #000;
  max-width: 100vw;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

// ===== Animation: intro - START  =====

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: white;
  padding-block: 2rem;

  .container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .cool-animation {
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden; /* This is crucial for clipping the animation */
      width: max-content;
      // border: 1px solid white;

      .wrapper {
        display: flex;
        gap: 2.2rem;

        h2 {
          font-size: $solution-size; // This is 6vw
          font-weight: 900;
          white-space: nowrap;
        }

        .y-slider {
          display: flex;
          flex-direction: column;
          min-width: fit-content;
          text-align: center;

          span {
            display: inline-block;
            font-size: $solution-size; // This is 6vw
            font-weight: 900;
          }
        }
      }
    }

    .counter {
      text-align: right;
      padding-inline: 3rem;
      font-size: 1.6rem;
    }
  }
}

.progress-line {
  margin-top: auto;
  width: 0%;
  height: 5px;
  background: white;
}

/* Animation: intro - END */

.container {
  padding-inline: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.main-content {
  header {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    .logo {
      a {
        text-decoration: none;
        font-size: 2.4rem;
        font-weight: 900;
        color: white;
        cursor: pointer;
      }
    }

    .header-right {
      display: flex;
      align-items: center;
      gap: 3rem;

      .nav {
        color: white;

        ul {
          list-style-type: none;
          display: flex;
          gap: 2rem;
          align-items: center;

          a {
            font-size: 1.6rem;
            text-decoration: none;
            color: white;
            font-weight: 500;
            transition: opacity 0.3s ease;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }

      .cta button {
        border: 1px solid rgb(63, 63, 63);
        border-radius: 5px;
        padding: 1rem 2rem;
        background-color: transparent;
        font-size: 1.6rem;
        font-weight: 700;
        text-decoration: none;
        color: white;
        cursor: pointer;
      }
    }
  }
  .section {
    padding-block: 2rem;
  }

  .extra-section-padding {
    display: block;
    padding-block: 12rem;
  }
}

.hero-canvas-section {
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
  }
  .left-side {
    flex: 1;
    min-width: 300px;
    margin-top: 2rem;

    .main-title {
      font-size: 4.6rem;
      font-weight: 900;
      margin-bottom: 2rem;
    }
    .hero-text {
      font-size: 1.6rem;
      max-width: 50ch;
      margin-bottom: 2.5rem;
    }
    .hero-button {
      background: white;
      color: black;
      border: none;
      font-size: 1.6rem;
      font-weight: 700;
      padding: 1rem 2rem;
      border-radius: 8px;
    }
  }

  .canvas-wrapper {
    flex: 1.5;
    min-width: 300px;
    height: 650px;
    .my-particle-canvas {
      display: block;
      width: 100%;
      height: 100%;
      background-color: #000;
      border-radius: 4px;
    }
  }
}

.secondary-section {
  .section-title {
    font-size: 3.6rem;
    font-weight: 800;
    margin-bottom: 1.6rem;
  }
  .section-paragraph {
    font-size: 1.6rem;
    margin-bottom: 4rem;
  }
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .card {
      flex: 1 1 calc(33.333% - 2rem);
      border-radius: 8px;
      cursor: pointer;

      &:hover .card-img {
        filter: grayscale(0%);
      }

      .card-img {
        width: 100%;
        margin-bottom: 1.2rem;
        filter: grayscale(100%);
        transition: filter 0.2s ease;
      }

      .card-title {
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 0.8rem;
      }

      .card-paragraph {
        color: #ababab;
        font-size: 1.4rem;
      }
    }
  }
}

.solutions-section {
  .dark-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
  }

  .dark-card {
    flex: 1 1 calc(33.333% - 2rem);
    background: #2c2c2c;
    border-radius: 8px;
    padding: 2rem;
    // cursor: pointer;
    transition: transform 0.3s ease;

    .icon {
      width: 24px;
      height: 24px;
      display: block;
      margin-bottom: 1.2rem;
    }

    .dark-card__title {
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 4px;
    }

    .dark-card__paragraph {
      color: #ababab;
      font-size: 1.4rem;
    }
  }
}

.cta-section {
  text-align: center;

  .cta-button {
    background: white;
    color: black;
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 8px;
  }
}

.footer {
  padding-block: 4rem;
  ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    li {
      font-size: 1.6rem;
      color: #ababab;
    }
  }

  .footer-links {
    justify-content: center;
    margin-bottom: 24px;
    gap: 0;
    li {
      margin-inline: auto;
      min-width: 120px;
      text-align: center;
    }
  }
  .social-icons {
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
  }
  .footer-copyright {
    text-align: center;
    font-size: 1.4rem;
    color: #ababab;
    margin-top: 2rem;
  }
}
